pkgbase = unreal-engine-src-5.6
	pkgdesc = A 3D game engine by Epic Games which can be used non-commercially for free.
	pkgver = 5.6.1
	pkgrel = 1
	url = https://www.unrealengine.com/
	arch = x86_64
	arch = x86_64_v2
	arch = x86_64_v3
	arch = x86_64_v4
	arch = aarch64
	license = custom:UnrealEngine
	license = GPL3
	makedepends = git
	makedepends = openssh
	makedepends = sed
	makedepends = grep
	makedepends = glibc
	makedepends = wget
	makedepends = rsync
	depends = sdl3
	depends = python
	depends = dotnet-runtime
	depends = dotnet-sdk
	depends = vulkan-icd-loader
	depends = lld
	depends = xdg-user-dirs
	depends = dos2unix
	depends = openssl
	depends = steam
	depends = coreutils
	depends = findutils
	optdepends = polly: for potentially increased performance
	optdepends = qt5-base: qmake build system for projects
	optdepends = cmake: build system for projects
	optdepends = qtcreator: IDE for projects
	optdepends = codelite: IDE for projects
	optdepends = kdevelop: IDE for projects
	optdepends = clion: IDE for projects
	optdepends = rider: IDE for projects
	optdepends = code: IDE for projects
	optdepends = pacman-contrib: for the paccache cleaning hook
	optdepends = fake-ms-fonts: Font support for "demo/free/sample/example/tutorial" projects
	optdepends = ttf-ms-fonts: Font support for "demo/free/sample/example/tutorial" projects
	options = !strip
	options = staticlibs
	source = unreal-engine-5.6.sh
	source = com.unrealengine.UE5_6Editor.desktop
	source = 0001-override-shared-target-build.patch
	source = 0002-suppress-scriptbuild-warnings-for-5-6.patch
	source = unreal-engine-src-5.6-pacman-cache.hook
	source = ue5_6editor.svg
	sha256sums = 1a660833c9e070db982e29521d9114002e0259e66a22b9da38afd27a9228a60a
	sha256sums = 1d980d6878c6c80836ac1a3a9d875d86cddd1f0e91b197825fd79a8132cd1347
	sha256sums = cd512e3fc08aaaa783e8df4a6dcb567a35502c32a6cedf8d4d71ebfa75272735
	sha256sums = e01efe8559076f977c44ab656432a3c8e793e4c7f2b42855f736a08b6f551cf1
	sha256sums = 9a1d1b4ba09e92ad34dbddcde2d030735fb32e7e8308ac121f723c79c2907b2c
	sha256sums = b00c398b63f15084c46f3963f62a45284ecd8dae9ba6f38a2c4af370bbfdab8d

pkgname = unreal-engine-src-5.6
